div#footer 
    a(href="https://github.com/gothinkster/angularjs-realworld-example-app",target="_blank")   Fork on GitHub 


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
script(src="/static/js/bootstrap.min.js", type="text/javascript")
script(src="/static/js/custom.js", type="text/javascript")
script(src="/static/js/bootstrap-tagsinput.min.js",type="text/javascript")

script.
    var loginUsername = "#{result.user.username}";
    var loginUserId = "#{result.user._id}";
    