include ./header.pug 

if(!result.user.username)
        div#middleDiv.textCenter
            h1#bannerHeading conduit 
            p#bannerSubHeading A place to share your knowledge.

div#feedDiv.row
    div.col-sm-9.col-md-9
        ul.nav.nav-tabs
            if(result.user.username)
                li.nav-item
                    a.getMyFeeds.nav-link.active(data-toggle="tab" href="#home") Your Feeds
            li.nav-item
                a.getGlobalFeeds.nav-link(data-toggle="tab" href="#global") Global Feeds
        div.tab-content
            div#home.tab-pane.fade
                div.myFeedContentDiv Loading...
                div.paginationDiv
            div#global.tab-pane.fade
                div.globalFeedContentDiv Loading...
                div.paginationDiv

    div#popularTags.col-sm-3.col-md-3
            div Popular tags  
            div#pupularTagsDiv Loading...

include ./footer.pug             
 
